.search-bar-container {
  font-size: 1rem;
  form {
    display: flex;
    justify-content: center;
    align-items: baseline;

    input {
      height: clamp(40px, 1.6rem, 1.6rem);
      font-size: clamp(13px, 0.5rem, 0.5rem);
      border: 1px solid #888;
      padding: clamp(6px, 0.4rem, 0.4rem);

      &:first-of-type {
        width: 40%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 0;

        @media screen and(max-width: 500px) {
          width: 100%;
        }
      }

      &:last-of-type {
        width: 6.5em;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 0;
        color: #fff;
        background-color: #0088ee;
        transition: 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}