.search-bar-container {
  font-size: 1rem;
  form {
    display: flex;
    justify-content: center;
    align-items: baseline;

    input {
      height: 3em;
      font-size: 0.85em;
      border: 1px solid #888;
      padding: 0.6em;

      &:first-of-type {
        width: 40%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 0;
      }

      &:last-of-type {
        width: 6.5em;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 0;
        color: #fff;
        background-color: #0088ee;
        transition: 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}